{% extends "base.html" %}
{% block content %}

  <div class='main-content'>
    <h1>Find Your Store</h1>
    <h3>Find store's menu. Order online.</h3>
  </div>

  <div class="upload-gallery">
    <div class="present-customer-image">
      <h4 class="title is-spaced" id="storename">{{name}}</h4>
      <h4 class="title is-spaced is-red" id="belike">average price: {{averageprice}}</h4>
      <!-- <input id="storename"> -->
      <img id="customer-image" src="https://storage.cloud.google.com/fansipan-website-290191/{{image_menu}}">
      <!-- <p class="subtitle is-6 spaced-top" id="desciption"></p> -->
    </div>
      <img id="store-menu" width="35%" heigh="80%" src="https://storage.cloud.google.com/fansipan-website-290191/{{image}}">
  </div>

  <section class="section is-white">
    <div class="container news-container">
        <h1 class="title">What's new</h1><br>
      </div>
      <div class="container">
        <div class="tile is-ancester">
          {% for column in [0,1,2] %}
          <div class="tile is-parent is-4 is-vertical">
            <div class="tile is-child"> 
              {% for product in products[column::3] %}
              <div class="card">
                <div class="card-image">
                  <figure class="image is-square is-small">
                    <img src="https://storage.cloud.google.com/fansipan-website-290191/{{product.image}}" onerror="this.src='https://storage.cloud.google.com/{{bucket}}/placeholder.png'">
                  </figure>
                </div>
                <div class="card-content">
                  <h3 class="title is-spaced">{{ product.name }}</h3>
                  <h3 class="subtitle">{{ product.price }}$</h3>

                </div>
                <div class="card-footer">
                  <a class="card-footer-item" href="checkout?id={{product.id}}">Purchase</a>
                </div>
              </div>
              <br>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>


  <!-- <section class="section-main">
    <h1>Breaking News</h1>

    <div class="news-cards">
      <div class="card-columns" id="news-list">
        
      </div>
    </div>
  </section> -->


  <div class='my-footer'>
    <div class='col bottom-logo'>
        <img src="https://media.giphy.com/media/lcjDOcw21MzGGZImiR/giphy.gif">
    </div>
    <div class='col'>
      <a href='#'>About Me</a>
    </div>
    <div class='col'>
        <a href='#'>Find Stores</a>
    </div>
    <div class='col'>
        <a href='#'>Help?</a>
    </div>
</div>
{% endblock %}